.air-cond {
    left: 5px;
}

.top-spacer {
    margin-top: 19px;
}

h1.by-recycling span {
    display:none;
}

#widget-home .ui-header {
    text-align: center;
}

#widget-home .ui-header h1 {
    margin: 0;
}

.listsidebyside .ui-content .ui-listview {
    margin: 0px;
}

.listsidebyside .ui-content {
    padding-left: 0;
    padding-right: 0;
}

.listsidebyside .ui-block-b .list-section {
    border-left: 1px solid #333;
}

.listsidebyside .ui-content .comparison-container .ui-block-b {
    border-left: 0;
}

/* hide the default arrow icon in the list */
.listsidebyside .ui-icon-arrow-r {
    display:none;
}

.listsidebyside .selected {
    border-top: 5px solid #2567AB;
    border-bottom: 5px solid #2567AB;
}

.listsidebyside .ui-grid-a {
    overflow:visible;
}

.delete-section {
    position: absolute;
    top: -22px;
    left: 35%;
}

.ui-content {
    min-height: 275px;
}

.ui-title {
    color:#111111;
}

.choose {
    margin: 0 0 5px 10px;
    position: relative;
    color: #145072;
}

.choose .arrow {
    position: absolute;
    left: 10px;
    top: 15px;
    z-index: 100;
}

.slide.choose {
    width: 87%;
    margin: 20px 20px 10px 20px;
}

.slide.choose .arrow {
    position: absolute;
    left: 20px;
    top: 0px;
    z-index: 100;
}

.widget-list .ui-btn-text {
    font-size: 0.8em;
}

.widget-list .ui-li-icon {
    margin-right: 5px;
}

.widget-list .ui-li-has-icon .ui-btn-inner a.ui-link-inherit {
    padding: .7em .7em .7em 15px;
    padding-left: 35px;
    height: 28px;
}

#comparison div.ui-slider {
    width: 87%;
    margin: 10px 20px 10px 20px;
}

.left-line {
    border-left: 1px solid black;
}


.comparison-container {
    margin-top: 80px;
}


/* F
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-f {
	border: 1px solid 		#456f9a;
	background: 			#5B84AD;
	color: 					#fff;
	font-weight: bold;
	text-shadow: 0 -1px 1px #254f7a;
	/*
	background-image: -webkit-gradient(linear, left top, left bottom, from(#81a8ce), to(#5e87b0));
	background-image: -webkit-linear-gradient(top, #81a8ce, #5e87b0);
	background-image:    -moz-linear-gradient(top, #81a8ce, #5e87b0);
	background-image:     -ms-linear-gradient(top, #81a8ce, #5e87b0);
	background-image:      -o-linear-gradient(top, #81a8ce, #5e87b0);
	background-image:         linear-gradient(top, #81a8ce, #5e87b0);
	*/
}
.ui-bar-f, 
.ui-bar-f input, 
.ui-bar-f select, 
.ui-bar-f textarea, 
.ui-bar-f button {
	font-family: Helvetica, Arial, sans-serif;
}
.ui-bar-f .ui-link-inherit {
	color: 					#fff;
}
.ui-bar-f .ui-link {
	color: 					#7cc4e7;
	font-weight: bold;
}
.ui-body-f {
	border: 1px solid 		#2A2A2A;
	background: 			#222222;
	color: 					#fff;
	 text-shadow: 0 1px 0 	#000;
	font-weight: normal;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#666), to(#222)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #666, #222); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #666, #222); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #666, #222); /* IE10 */
	background-image:      -o-linear-gradient(top, #666, #222); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #666, #222);	
}
.ui-body-f,
.ui-body-f input,
.ui-body-f select,
.ui-body-f textarea,
.ui-body-f button {
	font-family: Helvetica, Arial, sans-serif;
}
.ui-body-f .ui-link-inherit {
	color: 					#fff;
}
.ui-body-f .ui-link {
	color: 					#2489CE;
	font-weight: bold;
}
.ui-btn-up-f {
	border: 1px solid 		#557353;
	background: 			#6B9169;
	font-weight: bold;
	color: 					#fff;
	text-shadow: 0 -1px 1px #000;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#679E65), to(#6B9169)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #679E65, #6B9169); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #679E65, #6B9169); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #679E65, #6B9169); /* IE10 */
	background-image:      -o-linear-gradient(top, #679E65, #6B9169); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #679E65, #6B9169);
}
.ui-btn-up-f a.ui-link-inherit {
	color: 					#fff;
}
.ui-btn-hover-f {
	border: 1px solid 		#000;
	background: 			#444444;
	font-weight: bold;
	color: 					#fff;
	text-shadow: 0 -1px 1px #000;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#666), to(#444)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #666, #444); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #666, #444); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #666, #444); /* IE10 */
	background-image:      -o-linear-gradient(top, #666, #444); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #666, #444);
}
.ui-btn-hover-f a.ui-link-inherit {
	color: 					#fff;
}
.ui-btn-down-f {
	border: 1px solid 		#000;
	background: 			#3d3d3d;
	font-weight: bold;
	color: 					#fff;
	text-shadow: 0 -1px 1px #000;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#333), to(#5a5a5a)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #333, #5a5a5a); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #333, #5a5a5a); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #333, #5a5a5a); /* IE10 */
	background-image:      -o-linear-gradient(top, #333, #5a5a5a); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #333, #5a5a5a);
}
.ui-btn-down-f a.ui-link-inherit {
	color: 					#fff;
}
.ui-btn-up-f,
.ui-btn-hover-f,
.ui-btn-down-f {
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
}
