.blue-background {
    background:#ffffff url('../images/blue-background.png') no-repeat right top;
}

#recyclables, #appliances {
    margin-right: 20px;
    margin-left: 20px;
}

#recyclables .help.arrow {
    top: 25px;
    left: 10px;
}

#recyclables .help.title {
    top: 50px;
    left: 0px;
}

#appliances .help.arrow {
    top: 25px;
    left: 80px;
}

#appliances .help.title {
    top: 15px;
    left: 0px;
}

/*
.choose {
    position: relative;
}
*/
.help {
    position: absolute;
}

.learn-more {
    font-size: 12px;
    color: #fff;
    text-shadow: 0 1px 0 #254F7A;
}

.learn-more a.ui-link {
    color: #fff;
    text-shadow: 0 1px 0 #254F7A;
}

h1.by-recycling {
    margin: 0;
}

/* horizontal styles */
.horizontal-widget-list .ui-btn {
    font-size: 0.7em;
}
.horizontal-widget-list .ui-icon {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    left: 5px;
}
.horizontal-widget-list .air-cond-horizontal .ui-icon {
    left: 7px;
    width: 26px;
}
.horizontal-widget-list .ui-btn .ui-btn-inner {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 8px;
    text-align: left;
}

.horizontal-widget-list .air-cond-horizontal.ui-btn .ui-btn-inner {
    padding-left: 40px;
}

.listsidebyside .delete-section {
    position: absolute;
    top: -18px;
    left: -15px;
}

.ui-grid-a.splitter, .ui-grid-b.sizer {
    overflow: visible;
}

.big-number {
    margin: -5px 0;
    color: #fff;
    text-shadow: 0 1px 0 #254F7A;
}

.sentence {
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 0 #254F7A;
}

.slider-container {
    margin-top: -8px;
}

.listsidebyside .ui-grid-a.splitter > .ui-block-a {
    width: 25%;
}

.listsidebyside .ui-grid-a.splitter > .ui-block-b {
    width: 75%;
}

.list-section {
    text-align: right;
}

.list-section.selected {
    text-align: left;
}

/* columns when not selected */
.listsidebyside .ui-grid-b.sizer > .ui-block-a {
    width: 90%;
}
.listsidebyside .ui-grid-b.sizer > .ui-block-b.hidden {
    width: 0;
}
.listsidebyside .ui-grid-b.sizer > .ui-block-c.hidden {
    width: 10%;
}

/* columns when selected */
.listsidebyside .ui-grid-b.sizer > .ui-block-a.selected {
    width: 25%;
}
.listsidebyside .ui-grid-b.sizer > .ui-block-b {
    width: 65%;
}
.listsidebyside .ui-grid-b.sizer > .ui-block-c {
    width: 10%;
}

.ui-controlgroup {
    margin: 5px 0 15px 0;
}

/* custom icons */
.ui-icon-wycd-can {
    background: url(../images/icons/can.png) no-repeat rgba(0,0,0,0) !important;
}
.ui-icon-wycd-glassbottle {
    background: url(../images/icons/glass_bottle.png) no-repeat rgba(0,0,0,0) !important;
}
.ui-icon-wycd-plasticbottle {
    background: url(../images/icons/plastic_bottle.png) no-repeat rgba(0,0,0,0) !important;
}
.ui-icon-wycd-magazine {
    background: url(../images/icons/magazine.png) no-repeat rgba(0,0,0,0) !important;
}
.ui-icon-wycd-bag {
    background: url(../images/icons/bag.png) no-repeat rgba(0,0,0,0) !important;
}

.ui-icon-wycd-fan {
    background: url(../images/icons/fan2.gif) no-repeat rgba(0,0,0,0) !important;
}
.ui-icon-wycd-hair {
    background: url(../images/icons/hair.png) no-repeat rgba(0,0,0,0) !important;
}
.ui-icon-wycd-laptop {
    background: url(../images/icons/laptop.png) no-repeat rgba(0,0,0,0) !important;
}
.ui-icon-wycd-lightbulb {
    background: url(../images/icons/lightbulb-cfl.png) no-repeat rgba(0,0,0,0) !important;
}